---
interface Props {
  list: {
    href: string;
    job: string;
    label: string;
    company: string;
  }[];
}

const { list } = Astro.props;
---

<div class="btn-container">
  {list.map(({ href, job, label, company }) => (
    <a href={href} target="_blank" class="btn">
      <div class="detail">
        <p class="job">{job}</p>
        <p class="label">{label}</p>
      </div>
      <p class="company">{company}</p>
      <span class="icon-arrow"></span>
    </a>
  ))}
</div>

<style>
  @layer components {
    .btn-container {
			display: grid;
      grid-template-columns: 1fr auto calc(64px + 24px + 20px); /* icon width + 右側余白 + 左側gapの調整 */
      column-gap: 72px;
      row-gap: 32px;
		}
    .btn {
      display: grid;
      grid-column: span 3;
      grid-template-columns: subgrid;
      align-items: center;
      background-color: var(--color_white);
      color: var(--color_text);
      border-radius: 8px;
      padding: 32px 24px;
      border: 2px solid var(--color_white);
      transition: border-color var(--transition_hover, 0.3s ease);
      @media (--hover) {
        &:hover {
          border-color: var(--color_primary);
          .icon-arrow {
            &:before {
              mask-position: var(--this_arrow_size) center;
            }
          }
        }
      }
    }
    .detail {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }
    .job {
      text-box: var(--text_box_trim);
      font-feature-settings: 'pwid' on, 'palt' on;
      font-family: var(--font_ja_light);
      font-size: rem(15);
      font-weight: 300;
      line-height: 1.5;
    }
    .label {
      font-size: rem(20);
      font-weight: 600;
      line-height: 1.35;
      letter-spacing: 0.01em;
    }
    .company {
      justify-self: end;
      font-size: rem(17);
      line-height: 2.0;
      font-weight: 600;
      text-box: var(--text_box_trim);
    }
    .icon-arrow {
      --this_arrow_size: 34px;
      justify-self: end;
      display: inline-block;
      width: 64px;
      aspect-ratio: 1;
      color: inherit;
      background-color: var(--color_primary);
      border-radius: 50%;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        inset: 0;
        margin: auto;
        border-radius: 50%;
        width: var(--this_arrow_size);
        height: auto;
        aspect-ratio: 1;
        min-width: 0;
        mask-image: url('/assets/common/icon_arrow.svg');
        mask-size: contain;
        mask-repeat: repeat-x;
        mask-position: center;
        rotate: -45deg;
        background-color: var(--color_white);
        transition: mask-position var(--this_hover_transition, 0.3s ease);
      }
    }
    @media (--under-pc) {
      .btn-container {
        grid-template-columns: 1fr;
      }
      .btn {
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 40px;
        row-gap: 12px;
        grid-template-areas: 
          'detail icon'
          'company icon';
      }
      .detail {
        grid-area: detail;
      }
      .company {
        grid-area: company;
        justify-self: start;
      }
      .icon-arrow {
        grid-area: icon;
      }
    }
    @media (--sp) {
      .btn-container {
        row-gap: 16px;
      }
      .btn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 16px;
        row-gap: 24px;
        position: relative;
      }
      .job {
        font-size: rem(14);
        margin-bottom: 4px;
      }
      .label {
        font-size: rem(18);
        line-height: 1.5;
      }
      .company {
        font-size: rem(16);
      }
      .icon-arrow {
        --this_arrow_size: 14px;
        width: 24px;
        position: absolute;
        top: 8px;
        right: 8px;
      }
    } 
  }
</style>