---
import { Image } from "astro:assets"

interface Props {
  name?: string;
  affiliation?: string;
  img?: ImageMetadata;
  modifier?: string;
}

const { name='', affiliation='', img='', modifier=null } = Astro.props
---

<div class={"speaker" + (modifier ? ` speaker--${modifier}` : '')}>
  <div class="avatar">
    {img && (
      <Image src={img} alt='' class="util-img-cover"/>
    )}
  </div>
  <div class="speaker-detail">
    <p class="name">{name}</p>
    <p class="affiliation">{affiliation}</p>
  </div>
</div>

<style>
  @layer components {
    .speaker {
      display: flex;
      align-items: flex-start;
      column-gap: 16px;
    }
    .speaker--timetable {
      --this_avatar_size: 80px;
      --this_name_font_size: rem(17);
      --this_affiliation_font_size: rem(15);
    }
    .avatar {
      flex: 0 0 var(--this_avatar_size, 120px);
      aspect-ratio: 1;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid var(--color_primary);
    }
    .speaker-detail {
      display: grid;
      align-content: start;
      row-gap: 8px;
    }
    .name {
      font-size: var(--this_name_font_size, rem(20));
      font-weight: 600;
      line-height: 1.5;
    }
    .affiliation {
      color: var(--color_text_grey);
      font-size: var(--this_affiliation_font_size, rem(15));
      font-weight: 300;
      line-height: 1.5;
    }
    @media (--tb) {
      .speaker {
        --this_avatar_size: 90px;
      }
    }
    @media (--sp) {
      .speaker {
        --this_avatar_size: 72px;
        --this_name_font_size: rem(16);
        --this_affiliation_font_size: rem(14);
      }
    }
  }
</style>