---
import '../styles/terms.css'
import Layout from '../layouts/Layout.astro'

import HeaderLower from '@/components/header/HeaderLower.astro'
import Footer from '@/components/footer/Footer.astro'

import TermItem from '@/components/util/TermItem.astro'
import SectionTitle from '@/components/util/SectionTitle.astro'
import BackToHomeBtn from '@/components/util/BackToHomeBtn.astro'
import LowerWrapper from '@/components/util/LowerWrapper.astro'
export const prerender = true; // 静的生成
---

<Layout>
  <HeaderLower />
  <LowerWrapper>
    <div class="inner inner--term">
      <div class="terms">
        <div class="terms-head">
          <SectionTitle
            en="Privacy policy"
            ja="プライバシーポリシー"
            heading_lv='h1'
          />
          <p class="read">
            このプライバシーポリシー（以下「本ポリシー」）は、KNOTS
            2026事務局（以下「本事務局」）が運営する「KNOTS
            2026」（以下「本カンファレンス」）における関係者に関する情報の取り扱いを定めると同時に、本事務局は個人情報の適切な保護と使用に努めます。
          </p>
        </div>
        <div class="terms-contents">
          <TermItem title="適用範囲">
            <ul>
              <li>本ポリシーは、本カンファレンスへの参加者（視聴者、出展者、登壇者、その他これに関連する行為に関わる者を含みます）に関し適用されます。<br />当事務局は、本カンファレンスに関連して、別途プライバシーポリシー、個人情報保護方針または利用規約等を定める場合があります。これらの規定は、本ポリシーと併せて適用されますが、両者の内容が抵触する場合には、原則として本ポリシーが優先されるものとします。ただし、当該個別規定において特段の定めがある場合はこの限りではありません。</li>
              </li>
              <li>当事務局が本カンファレンスに関して提携する外部のサービスその他当社以外の者が提供するサービス（以下「提携サービス等」）については、本ポリシーの規定は適用されず、提携サービス等を提供する事業者が別途定めるプライバシーポリシーに準ずるものとします。</li>
              </li>
            </ul>
          </TermItem>
          <TermItem title="取得する情報">
            <ul>
              <li>当事務局は、第3条に定める利用目的のため、本カンファレンスの参加者に関する個人情報（個人情報保護法第２条第１項により定義された「個人情報」をいい、以下同様とします。）を含む次に定める情報（以下「参加者情報」といいます。）を取得します。</li>
              </li>
              <li>本カンファレンス参加にあたり、参加者に提供いただく情報
                <ul>
                  <li>氏名、生年月日、年齢、性別、メールアドレス、所属、その他本カンファレンスにおいて当社が指定する情報</li>
                </ul>
              </li>
            </ul>
          </TermItem>
          <TermItem title="利用目的">
            <ul>
              <li>当事務局は、参加者情報を、次に定める目的の範囲内で、適正に取り扱います。
                <ul>
                  <li>本カンファレンス参加のための情報のご案内</li>
                  <li>本カンファレンスに関するご案内、お問い合わせ等への対応</li>
                  <li>参加費用の請求及びその他の当法人と対象者との契約関係の事務手続</li>
                  <li>スポンサープランの提供内容の変更・停止・中止・契約解除の通知</li>
                  <li>本カンファレンス運営に関わる必要な情報の提供</li>
                  <li>個人を特定できない形での統計的な情報として、当法人の裁量に基づく利用及び公開</li>
                  <li>参加者本人の事前同意を得た上での、サービス・採用広報情報送付のための一部スポンサー企業（極、松、竹プラン申し込み企業）への個人情報の提供</li>
                </ul>
              </li>
              <li>当事務局は、前項に記載した利用目的について、その変更が元の利用目的と合理的に関連していると認められる範囲内で、変更することがあります。利用目的を変更した場合には、参加者に対してその旨を通知するか、または本カンファレンスのWEBサイトへの掲載その他の分かりやすい方法により、公表いたします。</li>
              </li>
            </ul>
          </TermItem>
          <TermItem title="第三者提供">
            <ul>
              <li>当事務局は、本人の同意を得ることなく、個人データ（※個人情報保護法第2条第6項に定める「個人データ」をいいます。以下同じ）を第三者に提供することはありません。ただし、次のいずれかに該当する場合には、例外として、第三者（日本国外の者を含みます）に個人データを提供することがあります。
                <ul>
                  <li>本ポリシーに記載された利用目的を達成するために、業務の全部または一部を外部に委託し、その委託先に個人データを提供する場合。</li>
                  <li>提供者本人の同意があるとき。</li>
                  <li>個人情報保護法その他の法令に基づく場合。</li>
                </ul>
              </li>
            </ul>
          </TermItem>
          <TermItem title="情報収集サービスの利用">
            <ul>
              <li>本カンファレンスのWEBサイトでは、サービスの利用状況や広告の効果などを分析するために、当事務局が選定した以下の情報収集モジュール（ツール）を使用しています。このモジュールの使用に伴い、当事務局は、各モジュールの提供者（日本国外の事業者を含みます）に対して、ユーザーに関する情報を提供することがあります。これらの情報収集モジュールは、個人を特定できない形でユーザー情報を収集し、収集された情報は、各モジュール提供者が定めるプライバシーポリシーやその他の規約に基づいて適切に管理されます。
                <ul>
                  <li><a href="https://marketingplatform.google.com/about/analytics/terms/jp/" target="_blank">Google アナリティクスサービス利用規約</a></li>
                  <li><a href="https://policies.google.com/technologies/ads?hl=ja" target="_blank">Google ポリシーと規約</a></li>
                </ul>
              </li>
            </ul>
          </TermItem>
          <TermItem title="個人情報の開示及び訂正等">
            <ul>
              <li>当事務局は、参加者から、個人情報保護法の定めに基づき当社が保有するデータベース上に存在する個人データの利用目的の通知、開示、訂正、追加、削除、停止又は消去（以下「開示等」といいます。）を求められたときは、参加者ご本人からのご請求であることを確認の上で、遅滞なく対応いたします。但し、個人情報保護法を含む法令により当事務局がこれらの義務を負わない場合については、この限りではありません。</li>
              </li>
              <li>開示等の請求にあたっては、本ポリシーに記載されているお問い合わせ窓口宛にご連絡ください。</li>
              </li>
              <li>個人データの利用目的の通知又は開示につきましては、1件あたり1,000円（税別）の手数料を頂戴いたします。</li>
              </li>
            </ul>
          </TermItem>
          <TermItem title="プライバシーポリシーの変更">
            <ul>
              <li>当事務局は、以下のいずれかに該当する場合において、必要と認めたときは、本ポリシーを変更することがあります。ただし、法令上、参加者の同意が必要とされる変更を行う場合は、第3条の定めに従います。
                <ul>
                  <li>本ポリシーの変更が、参加者全体の利益に適合するとき</li>
                  <li>本ポリシーの変更が、契約の目的に反せず、かつ以下の観点から合理的であると認められるとき：
                    <ol>
                      <li>変更の必要性</li>
                      <li>変更後の内容の相当性</li>
                      <li>その他変更に関する事情</li>
                    </ol>
                  </li>
                </ul>
              </li>
              <li>これらの場合、当事務局は、変更後のポリシーの効力発生日の2週間前までに、以下のいずれかの方法で参加者に告知します。
                <ul>
                  <li>本カンファレンスのWEBサイト上での掲示</li>
                  <li>電子メールなどの電磁的手段による通知</li>
                </ul>
              </li>
              <li>なお、法令により参加者の同意が必要な変更を行う場合、当事務局が定める方法であらかじめ参加者の同意を得たうえで変更を行います。この場合、変更後のポリシーは、同意をした参加者にのみ適用されます。</li>
              </li>
            </ul>
          </TermItem>
          <TermItem title="本件に関する問い合わせ">
            <ul>
              <li>株式会社Lumilinks（CrossRel 運営元）<br />個人情報取扱責任者　小木曽槙一</li>
              </li>
            </ul>
          </TermItem>
          <p class="terms-date">2025年8月1日　初版制定</p>
        </div>
        <div class="btn-wrapper">
					<BackToHomeBtn />
				</div>
      </div>
    </div>
  </LowerWrapper>
  <Footer />
</Layout>

<style>
  @layer components {
    .term-contents {
      counter-set: termItem;
    }
    .terms-date {
      font-size: rem(17);
      color: var(--color_text_grey);
    }
  }
</style>
