---
import { Image } from "astro:assets"
import knots from "@assets/common/logo_knots.svg"
import Btn from "@/components/util/Btn.astro"

interface Props {
  modifier?: string
  defaultState?: string | null
  lower?: boolean | null
}


const { modifier, defaultState, lower=false }: Props = Astro.props

const defaultStates = Array.isArray(defaultState) ? defaultState.join(' ') : defaultState;
const headerClass = ['header', modifier && `header--${modifier}`, defaultStates].filter(Boolean).join(' ')
const LogoTag = lower === true ? 'p' : 'h1';
---

<header class={headerClass} id="header" data-trigger="header">
	<div class="header-inner">
    <LogoTag class="header-logo">
      <a href="/">
      <Image src={knots} alt="KNOTS" class="logo" />
      </a>
    </LogoTag>
    <button type="button" class="menu-btn excepting-pc" aria-label="ヘッダーメニューを開く" data-trigger="menu-btn">
      <span class="menu-btn-bar"></span>
    </button>
    <div class="menu-wrapper" data-trigger="menu-wrapper">
      <div class="menu-container" data-lenis-prevent>
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item">
              <a href={lower ? "/#conference" : "#conference"} class="nav-link">コンテンツ概要</a>
            </li>
            <li class="nav-item">
              <a href={lower ? "/#pickup" : "#pickup"} class="nav-link">登壇予告</a>
            </li>
            <li class="nav-item">
              <a href={lower ? "/#map" : "#map"} class="nav-link">会場マップ</a>
            </li>
            <li class="nav-item">
              <a href={lower ? "/#timetable" : "#timetable"} class="nav-link">タイムテーブル</a>
            </li>
            <li class="nav-item">
              <a href={lower ? "/#information" : "#information"} class="nav-link">インフォメーション</a>
            </li>
            <li class="nav-item">
              <a href="#job-board" class="nav-link">ジョブボード</a>
            </li>
            <li class="nav-item">
              <a href={lower ? "/#sponsors" : "#sponsors"} class="nav-link">スポンサー</a>
            </li>
            <li class="nav-item nav-item--btn">
              <Btn href="https://knots2026.peatix.com/" txt="本イベントは終了しました" modifier="header" disabled={true} />
            </li>
          </ul>
        </nav>
        <!-- <div class="sponsor-link excepting-pc">
          <a href={lower ? "/#looking-for-sponsors" : "#looking-for-sponsors"} class="text-link">スポンサー申し込みについて</a>
        </div> -->
      </div>
    </div>
  </div>
</header>

<style>
	@layer components {
		.header {
      container-type: inline-size;
      width: 100%;
			padding: 20px 40px;
			position: fixed;
			z-index: var(--z_header);
      translate: 0 -100%;
      opacity: 0;
      transition: translate 0.6s ease, opacity 0.6s ease, backdrop-filter 0.6s ease, background-color 0.6s ease, border-bottom-color 0.6s ease;
      background: linear-gradient(114deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.14) 100%);
      backdrop-filter: blur(14px);
      border-bottom: 1px solid color-mix(in srgb, var(--color_white) 30%, transparent);
      .logo {
        filter: invert(1);
      }
      &.is-active {
        translate: 0 0;
        opacity: 1;
      }
      &.is-inversion {
        background-image: none;
        backdrop-filter: blur(0px);
        border-bottom-color: transparent;
        .logo {
          filter: invert(0);
        }
      }
		}
    .header-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
		.logo {
			width: 143px;
			height: auto;
      transition: filter 0.6s ease;
      display: block;
      @container (width <= 1160px) {
        width: 96px;
      }
		}
    .nav-list {
      display: flex;
      align-items: center;
      gap: 4px;
      transition: color 0.6s ease;
    }
    .nav-item--btn {
      margin-left: 20px;
      @container (width <= 1160px) {
        margin-left: 0;
      }
    }
    .nav-link {
      color: var(--this_color, var(--color_black));
      font-size: rem(16);
      letter-spacing: 0.04em;
      padding: 8px 8px;
      transition: color var(--transition_hover), background-color var(--transition_hover);
      @container (width <= 1160px) {
        font-size: rem(14);
      }
    }
    @media (--pc) {
      .header {
        &.is-inversion {
          --this_color: var(--color_white);
          .nav-link {
            @media (--hover) {
              &:hover {
                --this_color: var(--color_primary);
                background-color: var(--color_white);
              }
            }
          }
        }
      }
      .nav-link {
        @media (--hover) {
          &:hover {
            --this_color: var(--color_white);
            background-color: var(--color_primary);
          }
        }
      }
    }
    @media(--under-pc) {
      .header {
        &.is-inversion {
          --this_btn_color: var(--color_white);
        }
        &:has(.is-menuOpen) {
          --this_color: var(--color_white);
          --this_btn_color: var(--color_white);
          .logo {
            filter: invert(0);
          }
        }
      }
      .header-logo {
        z-index: var(--z_over);
      }
      .menu-btn {
        display: grid;
        place-items: center;
        width: 32px;
        height: 20px;
        position: relative;
        z-index: var(--z_over);
        cursor: pointer;
        background-color: transparent;
        border: none;
        position: relative;
        &:before,
        &:after {
          content: '';
          position: absolute;
          right: 0;
          background-color: var(--this_btn_color, var(--color_black));
          height: 2px;
          border-radius: 9999px;
          transition: translate 0.3s 0.3s ease, rotate 0.3s 0s ease, width 0.3s 0.3s ease, background-color 0.6s ease;
        }
        &:before {
          width: 100%;
          translate: 0 -10px
        }
        &:after {
          width: 50%;
          translate: 0 10px
        }
        @media (--hover) {
          &:hover {
            &:before {
              translate: 0 -8px
            }
            &:after {
              translate: 0 8px;
            }
          }
        }
      }
      .menu-btn-bar {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 75%;
        height: 2px;
        background-color: var(--this_btn_color, var(--color_black));
        transition: opacity 0.3s ease, background-color 0.6s ease;
        border-radius: 9999px;
      }
      .menu-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100lvh;
        background-color: color-mix(in srgb, var(--color_black) 70%, transparent);
        z-index: var(--z_under);
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s linear;
      }
      .menu-container {
        height: auto;
        max-height: 100dvh;
        overflow-y: auto;
        background-color: var(--color_primary);
        border-bottom: 1px solid var(--color_white);
        padding-block: 128px 136px;
        padding-inline: 40px;
        translate: 0 -100%;
        opacity: 0;
        transition: translate 0.6s ease, opacity 0.3s ease;
      }
      .nav-list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 0;
      }
      .nav-item {
        border-bottom: 1px solid #1052ba;
      }
      .nav-item--btn {
        margin-top: 40px;
        border-bottom: none;
        :global(.btn[inert]) {
          background-color: #555;
          color: #fff;
          border-color: #555;
        }
      }
      .nav-link {
        display: flex;
        padding-block: 24px 16px;
        font-family: var(--font_ja_bold);
        font-size: min(vw(20), 20px);
        font-weight: 600;
      }
      .sponsor-link {
        text-align: center;
        margin-top: 32px;
      }
      .text-link {
        color: var(--color_white);
        font-size: min(vw(16), 16px);
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 2px;
      }
      .header {
        &:has(.is-menuOpen) {
          .menu-btn {
            &:before,
            &:after {
              width: 80%;
              translate: 0 0;
              border-radius: 9999px;
              transition: translate var(--transition_hover), rotate 0.3s 0.3s ease, width 0.3s 0s ease;
            }
            &:before {
              rotate: 45deg;
            }
            &:after {
              rotate: -45deg;
            }
          }
          .menu-btn-bar {
            background-color: transparent;
          }
          .menu-wrapper {
            opacity: 1;
            pointer-events: all;
          }
          .menu-container {
            opacity: 1;
            translate: 0 0;
          }
        }
      }
    }
		@media (--sp) {
			.header {
				padding: 20px;
			}
			.logo {
        width: auto;
        height: 24px;
        display: block;
			}
		}
	}
</style>

<script>
  import { headerAnimation, toggleMenu, headerStateOnScroll } from '@/scripts/header.ts';
  headerAnimation();
  toggleMenu();
  headerStateOnScroll();
</script>