---
import { Image } from "astro:assets"
import knots from "@assets/common/logo_knots.svg"
---

<header class="header">
	<a href="/">
		<Image src={knots} alt="KNOTS" class="logo"/>
	</a>
</header>

<style>
	@layer components {
		.header {
			width: 100%;
			padding: 20px 40px;
			position: fixed;
			z-index: var(--z_header);
			min-height: 88px;
			display: flex;
			align-items: center;
			a {
				display: inline-block;
			}
		}
		.logo {
			width: 143px;
			height: auto;
			filter: brightness(0);
			display: block;
		}
		@media (--sp) {
			.header {
				min-height: auto;
				padding: 20px;
				background: linear-gradient(114deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.14) 100%);
				backdrop-filter: blur(14px);
				border-bottom: 1px solid color-mix(in srgb, var(--color_white) 30%, transparent);
			}
			.logo {
        width: auto;
        height: 24px;
        display: block;
			}
		}
	}
</style>