---
import Operator from './Operator.astro';
---

<footer class="footer">
	<div class="inner">
		<div class="row">
			<div class="operator">
				<Operator />
			</div>
			<div class="nav">
				<ul class="nav-list">
					<li class="nav-item">
						<a href="https://crossrel.jp/" target="_blank" class="link-color">運営会社</a>
					</li>
					<li class="nav-item">
						<a href="#" class="link-color">お問い合わせ</a>
					</li>
					<li class="nav-item">
						<a href="/codeofconduct" class="link-color">行動規範</a>
					</li>
					<li class="nav-item">
						<a href="/privacy-policy" class="link-color">プライバシーポリシー</a>
					</li>
				</ul>
			</div>
			<div class="copyright font-en">
				<small>© CrossRel, Inc. All Rights Reserved.</small>
			</div>
		</div>
	</div>
</footer>

<style>
	@layer components {
		.footer {
			--footer_color_bg: #000;
			background-color: var(--color_text);
			padding-block: 80px 196px;
			color: var(--color_white);
		}
		.row {
			display: grid;
			grid-template-areas: 
				"nav operator"
				"copyright operator";
			grid-template-columns: auto 1fr;
			column-gap: 40px;
			row-gap: 64px;
		}
		.operator {
			grid-area: operator;
			justify-self: end;
			align-self: center;
			max-width: 600px;
		}
		.nav {
			grid-area: nav;
		}
		.nav-list {
			display: flex;
			flex-direction: column;
			row-gap: 32px;
		}
		.nav-item {
			font-family: var(--font_ja_light);
			font-size: rem(14);
			line-height: 1.5;
			letter-spacing: 0.02em;
			a {
				--this_color_hover: var(--color_grey);
			}
		}
		.copyright {
			grid-area: copyright;
			small {
				display: block;
				color: #626262;
				font-size: rem(12);
				font-weight: 400;
				text-box: trim-both cap alphabetic;
			}
		}
		@media (--sp) {
			.footer {
				padding-block: 82px 96px;
			}
			.row {
				grid-template-areas:
					"operator"
					"nav"
					"copyright";
				grid-template-columns: auto;
				row-gap: 72px;
			}
			.operator {
				max-width: none;
			}
			.nav-list {
				flex-direction: row;
				flex-wrap: wrap;
				gap: 24px 32px;
			}
			.nav-item {
				font-size: rem(14);
				letter-spacing: 0;
			}
		}
	}

</style>