---
import { Image } from "astro:assets"
import knots from "../assets/logo_knots.svg"
---

<header class="header">
	<a href="/">
		<Image src={knots} alt="KNOTS" class="logo"/>
	</a>
</header>

<style>
	@layer components {
		.header {
			padding: 40px;
		}
		.logo {
			width: 143px;
			height: auto;
			filter: brightness(0);
		}
		@media (--sp) {
			.header {
				padding: 32px;
			}
		}
	}
</style>