---
import Image from "astro/components/Image.astro"
import crossrel from '@assets/logo_crossrel.svg';
import icon_x from '@assets/icon_x.svg';

---

<div class="operator">
  <h2 class="font-en"><span>Operator</span></h2>
  <div class="operator-inner">
    <Image src={crossrel} alt="CrossRel" class="logo"/>
    <div class="content">
      <p class="catch">テック業界の多様な才能が集まり、<br>ナレッジや人が「交差」するコミュニティ</p>
      <p class="description">CrossRelは、テック業界の多様な才能が集い、ナレッジや人材が交差するイベントコミュニティです。個の力だけでは成し得ない、交差することで生まれる新たな価値創造を目指します。</p>
    </div>
    <div class="sns-links">
      <a href="https://crossrel.jp/" target="_blank" class="sns-text-link link-color">https://crossrel.jp/</a>
      <a href="https://x.com/crossrel_commu" target="_blank" class="sns-link link-color">
        <Image src={icon_x} alt="X" />
      </a>
    </div>
  </div>
</div>

<style define:vars={{ iconX: icon_x }}>
  @layer components {
    .operator {
      border-top: 1px solid var(--color_grey);
      border-bottom: 1px solid var(--color_grey);
    }
    h2 {
      font-size: rem(16);
      color: var(--color_grey);
      margin-top: -0.5lh;
      text-align: left;
      display: block;
      span {
        padding-right: 1.0em;
        background-color: var(--color_text);
      }
    }
    .operator-inner {
      padding-block: 48px;
      display: grid;
      grid-template-areas:
        'logo content'
        'sns content';
      grid-template-columns: auto 1fr;
      column-gap: 70px;
      row-gap: 32px;
    }
    .logo {
      grid-area: logo;
      width: 158px;
    }
    .content {
      grid-area: content;
    }
    .catch {
      font-size: rem(14);
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: 0.02em;
      margin-bottom: 16px;
    }
    .description {
      font-family: var(--font_ja_light);
      font-size: rem(14);
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: 0.02em;
    }
    .sns-links {
      grid-area: sns;
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      align-items: start;
    }
    .sns-text-link {
      --this_color_hover: var(--color_grey);
      font-family: var(--font_ja_light);
      font-size: rem(13);
      font-weight: 300;
      text-decoration: underline;
      letter-spacing: 0.02em;
    }
    .sns-link {
      --this_color_hover: var(--color_grey);
      width: 40px;
      min-width: 0;
      aspect-ratio: 1;
      display: grid;
      place-items: center;
      color: var(--color_white);
      background-color: currentColor;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
    }
    @media (--sp) {
      .operator-inner {
        padding-block: 40px;
        display: flex;
        flex-direction: column;
        row-gap: 0;
      }
      .content {
        margin-top: 32px;
      }
      .sns-links {
        margin-top: 16px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
      }
      .sns-link {
        img {
          display: block;
        }
      }
    }
  }
</style>