<div class="about selected-inversion">
	<div class="inner">
		<p class="txt">ウェブ制作やソフトウェア開発は、デザイナーやエンジニアたちが互いの知識と経験を編み合わせる、いわば職人達の仕事でした。しかし専門性の深化と分業の波は、プロフェッショナルとしての立場を確立する一方で、コミュニティやプロセスの断絶を深めてきました。いま、生成AIの台頭がその流れを大きく変えつつあります。デザインやエンジニアリングは再び近接し、互いの職能に縛られない新しい不可分領域が広がり始めています。<br>私たちCrossRelはその変化のただ中にある人や組織を結び合わせ、共創・技術・組織の発展を加速させるカンファレンス、「KNOTS 2026」をここに開催します。新しい一年の始まりに、学びと視座を広げる、新たな共創の場を共に作りましょう。</p>
	</div>
</div>

<style>
	@layer components {
		.about {
			color: var(--color_white);

		}
		h2 {
			text-align: left;
			margin-bottom: 80px;
			color: var(--color_white);
		}
		.txt {
			text-align: left;
			font-feature-settings: 'palt' on;
			font-size: rem(24);
			font-weight: 600;
			letter-spacing: calc(1.2 / 24 * 1em);
			line-height: 2.2;
		}
		@media (--sp) {
			.about {
				padding-top: 68px;
			}
			.txt {
				font-size: rem(18);
				line-height: 1.8;
				letter-spacing: 0;
			}
		}
	}
</style>