---
import SectionTitle from '@/components/util/SectionTitle.astro';
import DistortionWave from '@/components/top/modules/distortionWave.astro';
---

<div class="conference bg-white">
  <div class="wave-wrapper">
    <div class="wave wave--right only-pc" data-parallax="300">
      <div class="wave-canvas-wrapper">
        <DistortionWave
          imageSrc='/assets/top/wave_conference_right.png'
          width={364}
          height={796}
        />
      </div>
    </div>
  </div>
  <div class="wave-wrapper">
    <div class="wave wave--left only-pc" data-parallax="300">
      <div class="wave-canvas-wrapper">
        <DistortionWave
          imageSrc='/assets/top/wave_conference_left.png'
          width={496}
          height={873}
        />
      </div>
    </div>
  </div>
	<div class="inner">
    <SectionTitle
      en="Conference overview"
      ja="カンファレンス概要"
      id="conference"
    />
    <dl class="list">
      <div class="item" data-trigger="intersect-anim">
        <dt class="term">カンファレンステーマ</dt>
        <dd class="desc">
          <p>
            次世代に求められる技術と人材、そして組織とは。
          </p>
          <p>
            AIの進化により、個人・組織・技術の関係は急速に変化しています。<br>
            本カンファレンスでは、<br>
            「個人への問い：変化に対応できるスキルとは？」<br>
            「組織への問い：変化に強いチームをどうつくるか？」<br>
            「技術への問い：AIは可能性をどう拡張するのか？」<br>
            という三つの視点から、変化の時代に私たちがどう向き合うべきかを探ります。
          </p>
        </dd>
      </div>
      <div class="item" data-trigger="intersect-anim">
        <dt class="term">トークセッション</dt>
        <dd class="desc">
          <p>
            業界をリードする実践者によるプレゼンテーション。
          </p>
          <p>
            デザイン、AI、エンジニアリングの各分野で第一線を走る専門家が登壇し、実際のプロジェクト事例や知見をもとに「次の現場」で必要となる考え方を共有します。
          </p>
        </dd>
      </div>
      <div class="item" data-trigger="intersect-anim">
        <dt class="term">ディスカッションセッション</dt>
        <dd class="desc">
          <p>
            複数の登壇者同士が議論する対話型セッション。
          </p>
          <p>
            専門領域を持つ登壇者各人が視点を交わし、来場者の方々から質問や意見をもらいつつ、トークいただきます。
          </p>
        </dd>
      </div>
      <div class="item" data-trigger="intersect-anim">
        <dt class="term">交流セッション</dt>
        <dd class="desc">
          <p>
            学びを“交流”で深める、カジュアルなディスカッション。
          </p>
          <p>
            カンファレンスを通して行う交流エリアでは、登壇者や他の参加者と自由に意見交換ができる場を提供します。<br>
            飲食を交えながら、発表内容の延長線上で新しいつながりをつくる時間です。
          </p>
        </dd>
      </div>
    </dl>
	</div>
</div>

<style>
	@layer components {
		.conference {
      padding-block: 160px;
      position: relative;
      z-index: var(--z_over);
		}
    .wave {
      position: absolute;
    }
    .wave--right {
      top: 0;
      right: -200px;
      scale: 0.5;
      transform-origin: right top;
    }
    .wave--left {
      bottom: 0;
      left: -251px;
      scale: 0.5;
      transform-origin: left bottom;
    }
    .list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      counter-reset: conference;
      @media (--desktop-pc) {
        grid-template-columns: 540px 1fr;
      }
    }
    .item {
      display: grid;
      grid-column: span 2;
      grid-template-columns: subgrid;
      padding-block: 64px;
      counter-increment: conference;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color_grey);
        scale: 0 1;
        transform-origin: left;
        transition: scale 1.0s ease;
      }
      &:last-child {
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: var(--color_grey);
          scale: 0 1;
          transform-origin: left;
          transition: scale 1.0s 1.0s ease;
        }
      }
      &.is-animated {
        &:before,
        &:after {
          scale: 1 1;
        }
      }
    }
    .term {
      font-size: rem(20);
      font-weight: 600;
      position: relative;
      line-height: 1.5;
      &:before {
        position: relative;
        content: '0'counter(conference);
        color: #0064ff;
        font-family: var(--font_en);
        font-size: rem(12);
        font-weight: 400;
        vertical-align: top;
        margin-right: 0.5em;
      }
    }
    .desc {
      font-feature-settings: 'palt' on;
      font-size: rem(17);
      font-weight: 600;
      letter-spacing: 0.04em;
      line-height: 2.0;
      color: var(--color_text_grey);
      p + p {
        margin-top: 2.0em;
      }
    }
		@media (--under-pc) {
      .conference {
        padding-block: 84px;
      }
      .list {
        grid-template-columns: 1fr;
      }
      .item {
        grid-column: auto;
        row-gap: 30px;
        padding-block: 40px;
      }
		}
	}
</style>

<script>
  import { parallaxElem } from '@/scripts/parallax-elem';
  parallaxElem();
</script>