---
import SectionTitle from '@/components/util/SectionTitle.astro';
import DistortionWave from '@/components/top/modules/distortionWave.astro';
---

<div class="conference bg-white">
  <div class="wave-wrapper">
    <div class="wave wave--right only-pc" data-parallax="-300">
      <div class="wave-canvas-wrapper">
        <DistortionWave
          imageSrc='/assets/top/wave_conference_right.png'
          width={364}
          height={796}
        />
      </div>
    </div>
  </div>
  <div class="wave-wrapper">
    <div class="wave wave--left only-pc" data-parallax="500">
      <div class="wave-canvas-wrapper">
        <DistortionWave
          imageSrc='/assets/top/wave_conference_left.png'
          width={496}
          height={873}
        />
      </div>
    </div>
  </div>
	<div class="inner">
    <SectionTitle
      en="Content overview"
      ja="コンテンツ概要"
      id="conference"
    />
    <div class="lead">
      <p>
        次世代に求められる技術と人材、そして組織とは。AIの進化により、個人・組織・技術の関係は急速に変化しています。<br>本カンファレンスでは、3つの問いから、変化の時代に私たちがどう向き合うべきかを探ります。
      </p>
      <ul>
        <li>個人への問い：変化に対応できるスキルとは？</li>
        <li>組織への問い：変化に強いチームをどうつくるか？</li>
        <li>技術への問い：AIは可能性をどう拡張するのか？</li>
      </ul>
        <p>
          セッションの種類は3つ、エンジニア、デザイナー、プロダクトマネージャーの3職能の方々にご登壇いただきます。
        </p>
    </div>
    <dl class="list">
      <div class="item" data-trigger="intersect-anim">
        <dt class="term">キーノート</dt>
        <dd class="desc">
          <p>
            業界のトップランナーや識者を迎え、変容する「共創・技術・組織」の未来を考えます。プレゼンテーション+AMA（Ask Me Anything）の30分のセッションを通して、未来への具体的な視座を得ることで、みなさんの一年のスタートを後押しします。
          </p>
        </dd>
      </div>
      <div class="item" data-trigger="intersect-anim">
        <dt class="term">トークセッション</dt>
        <dd class="desc">
          <p>
            現場で新たな「KNOTS（結び目）」を生み出しているプレイヤーたちが登壇します。彼らが直面した具体的な課題、新しいアプローチ、実験的な取り組みなど、現場発のリアリティ溢れる知見を、プレゼンテーション+AMA（Ask Me Anything）の20分のセッションで深化させます。
          </p>
        </dd>
      </div>
      <div class="item" data-trigger="intersect-anim">
        <dt class="term">交流セッション</dt>
        <dd class="desc">
          <p>
            2名の登壇者による濃密なクロストークセッションです。テーマであるデザインとエンジニアリングの再近接を体現するように、実践知を交差させます。一方向の知識提供に留まらず、活発な議論の軌跡を追うことで、多角的な解や、共創のヒントを発見できる40分です。
          </p>
        </dd>
      </div>
    </dl>
	</div>
</div>

<style>
	@layer components {
		.conference {
      padding-block: 160px;
      position: relative;
      z-index: var(--z_over);
		}
    .wave {
      position: absolute;
    }
    .wave--right {
      top: 0;
      right: -200px;
      .wave-canvas-wrapper {
        transform-origin: right top;
        scale: 0.5;
      }
    }
    .wave--left {
      bottom: 0;
      left: -251px;
      .wave-canvas-wrapper {
        transform-origin: left bottom;
        scale: 0.5;
      }
    }
    .lead {
      font-feature-settings: "halt" on;
      font-family: var(--font_ja_bold);
      color: var(--color_text_grey);
      font-size: rem(17);
      font-weight: 600;
      line-height: 2.0;
      letter-spacing: 0.04em;
      padding-bottom: 64px;
      p, ul {
        + p {
          margin-top: 1.0lh;
        }
      }
      ul {
        li {
          padding-left: 1.0em;
          text-indent: -1.0em;
          &:before {
            content: '・';
            margin-right: 0.5em;
          }
        }
      }
    }
    .list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      counter-reset: conference;
      @media (--desktop-pc) {
        grid-template-columns: 540px 1fr;
      }
    }
    .item {
      display: grid;
      grid-column: span 2;
      grid-template-columns: subgrid;
      padding-block: 64px;
      counter-increment: conference;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color_grey);
        scale: 0 1;
        transform-origin: left;
        transition: scale 1.0s ease;
      }
      &:last-child {
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: var(--color_grey);
          scale: 0 1;
          transform-origin: left;
          transition: scale 1.0s 1.0s ease;
        }
      }
      &.is-animated {
        &:before,
        &:after {
          scale: 1 1;
        }
      }
    }
    .term {
      font-size: rem(20);
      font-weight: 600;
      position: relative;
      line-height: 1.5;
      &:before {
        position: relative;
        content: '0'counter(conference);
        color: #0064ff;
        font-family: var(--font_en);
        font-size: rem(12);
        font-weight: 400;
        vertical-align: top;
        margin-right: 0.5em;
      }
    }
    .desc {
      font-feature-settings: 'halt' on;
      font-size: rem(17);
      font-weight: 600;
      letter-spacing: 0.02em;
      line-height: 2.0;
      color: var(--color_text_grey);
      p + p {
        margin-top: 2.0em;
      }
    }
		@media (--under-pc) {
      .conference {
        padding-block: 84px;
      }
      .list {
        grid-template-columns: 1fr;
      }
      .item {
        grid-column: auto;
        row-gap: 30px;
        padding-block: 40px;
      }
		}
	}
</style>

<script>
  import { parallaxElem } from '@/scripts/parallax-elem';
  parallaxElem();
</script>