---
import Btn from '@/components/util/Btn.astro';
---

<div class="fix-btn only-sp" tabindex="-1">
	<Btn href="https://forms.gle/AfVbLJEp7Vwnn4X2A" txt="チケット購入" modifier="fix" />
</div>

<style>
	@layer components {
		.fix-btn {
			position: fixed;
			top: 40px;
			right: 48px;
			z-index: var(--z_fix_btn);
			opacity: 0;
			pointer-events: none;
			transition: opacity 0.5s ease;
			&.is-active {
				opacity: 1;
				--this_toggle_btn: auto;
			}
		}
		@media (--sp) {
			.fix-btn {
				top: auto;
				left: 0;
				right: 0;
				bottom: 24px;
				margin: auto;
				text-align: center;
				padding-inline: 32px;
			}
		}
	}
</style>

<script>
	const fixBtn = document.querySelector('.fix-btn');
	const triggerElement = document.querySelector('.fix[data-trigger="fix-btn"]');
	if (fixBtn && triggerElement) {
		const io = new IntersectionObserver(
			(entries) => {
				entries.forEach((entry) => {
					if (entry.isIntersecting) {
						fixBtn.classList.add('is-active');
					} else {
						fixBtn.classList.remove('is-active');
					}
				});
			},
			{ 
				rootMargin: "0px 0px -100% 0px",
			}
		);
		io.observe(triggerElement);
	}
</script>