---
import Btn from '@/components/util/Btn.astro';
---

<div class="fix-btn only-sp" tabindex="-1">
	<Btn href="https://knots2026.peatix.com/" txt="本イベントは終了しました" modifier="fix" disabled={true} />
</div>

<style>
	@layer components {
		.fix-btn {
			position: fixed;
			top: 40px;
			right: 48px;
			z-index: var(--z_fix_btn);
			opacity: 0;
			pointer-events: none;
			transition: opacity 0.5s ease;
			&.is-active {
				opacity: 1;
				--this_toggle_btn: auto;
			}
			/* &.is-inversion {
				:global(.btn) {
					--this_bg: var(--color_white);
					--this_color: var(--color_primary);
					--this_border_color: var(--color_primary);
				}
			} */
		}
		@media (--sp) {
			.fix-btn {
				top: auto;
				left: 0;
				right: 0;
				bottom: 24px;
				margin: auto;
				text-align: center;
				padding-inline: 32px;
			}
		}
	}
</style>

<script>
	// import { gsap } from 'gsap';
	// import { ScrollTrigger } from 'gsap/ScrollTrigger';
	// gsap.registerPlugin(ScrollTrigger);

	const fixBtn = document.querySelector('.fix-btn');
	const triggerElement = document.querySelector('.fix[data-trigger="fix-btn"]');
	if (fixBtn && triggerElement) {
		const io = new IntersectionObserver(
			(entries) => {
				entries.forEach((entry) => {
					if (entry.isIntersecting) {
						fixBtn.classList.add('is-active');
					} else {
						fixBtn.classList.remove('is-active');
					}
				});
			},
			{ 
				rootMargin: "0px 0px -100% 0px",
			}
		);
		io.observe(triggerElement);
	}

  /* const colorChangeElements = document.querySelectorAll('[data-trigger="fix-btn-color"]');
  if (colorChangeElements.length > 0) {
    colorChangeElements.forEach((triggerEl) => {
      ScrollTrigger.create({
				trigger: triggerEl,
				start: 'top bottom',
				end: 'bottom bottom',
				toggleClass: { targets: fixBtn, className: 'is-inversion' },
      });
    });
  } */
</script>