<section class="information">
	<div class="inner">
		<h2 class="font-en">INFORMATION</h2>
		<div class="information-wrapper">
			<div class="item">
				<h3 class="line-heading"><span>開催日時</span></h3>
				<p class="txt">2026年1月25日(日)</p>
			</div>
			<div class="item">
				<h3 class="line-heading"><span>開催場所</span></h3>
				<div class="reading-inner">
					<p class="txt">サイボウズ本社スペース</p>
					<div class="map-wrapper">
						<div class="map">
							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2920.7548529157525!2d139.77406452870076!3d35.68240307358832!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c46de1a941d%3A0x4fe7d8e930a3b4e!2z44K144Kk44Oc44Km44K644ix!5e0!3m2!1sja!2sus!4v1758683536550!5m2!1sja!2sus" width="760" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="Google Maps" class="map-iframe"></iframe>
						</div>
						<div class="address">
							<p>〒103-0027<span class="pc-space"></span><br class="only-sp">東京都中央区日本橋2-7-1 東京日本橋タワー 27階</p>
							<a href="https://cybozu.co.jp/company/access/" target="_blank" class="link-color">Open Google Map</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	@layer components {
		.information {
			padding-block: 160px 128px;
		}
		h2 {
			margin-bottom: 116px;
		}
		.item {
			text-align: center;
			&:not(:first-child) {
				margin-top: 130px;
			}
		}
		.map-wrapper {
			width: 100%;
			margin-top: 44px;
			text-align: left;
			display: flex;
			flex-direction: column;
			row-gap: 24px;
		}
		.map-iframe {
			max-width: 100%;
			height: auto;
			aspect-ratio: 19 / 10;
		}
		.txt {
			font-size: rem(20);
			font-weight: 600;
		}
		.address {
			display: flex;
			justify-content: space-between;
			font-size: rem(16);
			font-weight: 600;
			letter-spacing: 0.02em;
			a {
				text-decoration: underline;
			}
		}
		@media (--sp) {
			.information {
				padding-block: 120px 80px;
			}
			h2 {
				margin-bottom: 92px;
			}
			.item {
				&:not(:first-child) {
					margin-top: 112px;
				}
			}
			.map-wrapper {
				margin-top: 36px;
			}
			.txt {
				font-size: rem(18);
			}
			.address {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				row-gap: 16px;
				font-size: rem(13);
				line-height: 1.5;
				font-weight: 600;
				letter-spacing: 0.02em;
				a {
					text-decoration: none;
					display: inline-block;
					border: 1px solid currentColor;
					font-family: rem(12);
					letter-spacing: 0.01em;
					border-radius: 9999px;
					padding: 5px 22px;
				}
			}
		}
	}
</style>