<section class="information top-sec">
	<div class="inner">
		<h2 class="font-en">INFORMATION</h2>
		<div class="item">
			<h3 class="line-heading"><span>開催日時</span></h3>
			<p class="txt">2026年1月25日(日)</p>
		</div>
		<div class="item">
			<h3 class="line-heading"><span>開催場所</span></h3>
			<div class="reading-inner">
				<p class="txt">サイボウズ本社スペース</p>
				<div class="map-wrapper">
					<div class="map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12963.175839957185!2d139.773887!3d35.682075!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c46de1a941d%3A0x4fe7d8e930a3b4e!2z44K144Kk44Oc44Km44K644ix!5e0!3m2!1sja!2sus!4v1758183436304!5m2!1sja!2sus" width="760" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
					<div class="address">
						<p>〒103-0027 東京都中央区日本橋2丁目7-1 日本橋タワー 14F</p>
						<p><a href="https://cybozu.co.jp/company/access/" target="_blank">Open Google Map</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	h2 {
		margin-bottom: 120px;
	}
	.item {
		text-align: center;
		&:not(:first-child) {
			margin-top: 80px;
		}
	}
	.map-wrapper {
		width: 100%;
		margin-top: 40px;
		text-align: left;
	}
	.txt {
		font-size: rem(20);
		font-weight: 500;
	}
</style>