---
import SectionTitle from '@/components/util/SectionTitle.astro';
import Btn from '@/components/util/Btn.astro';

import DistortionWave from '@/components/top/modules/distortionWave.astro';
---

<div class="job-board">
	<div class="wave wave--top only-pc">
		<DistortionWave
			imageSrc='/assets/top/wave_job-board_top.png'
			width={844}
			height={624}
		/>
	</div>
	<div class="wave wave--bottom only-pc">
		<DistortionWave
			imageSrc='/assets/top/wave_job-board_bottom.png'
			width={776}
			height={624}
		/>
	</div>
	<div class="job-board-inner inner">
		<SectionTitle
			en="Job Board"
			ja="ジョブボード"
			modifier={['center', 'white']}
			id="job-board"
		/>
		<p class="lead">
			スポンサー企業様の様々な求人情報を掲載しています。<br>
			デザイナー、エンジニア、プロダクトマネージャーなど、<br class="excepting-sp">
			多種多様な採用情報をぜひご覧ください。
		</p>
		<div class="btn-wrapper">
			<Btn
				href="/job-board"
				txt="求人情報を見る"
				modifier={["wide", "arrow-right"]}
			/>
		</div>
	</div>
</div>

<style>
	@layer components {
		.job-board {
			background-color: var(--color_primary);
			color: var(--color_white);
			padding-block: 120px 142px;
			background-repeat: no-repeat;
			background-position: top right, bottom left;
			position: relative;
		}
		.job-board-inner {
			position: relative;
			z-index: var(--z_over);
		}
		.wave {
			position: absolute;
			mix-blend-mode: luminosity;
			z-index: var(--z_flat);
		}
		.wave--top {
			top: 0;
			right: 0;
		}
		.wave--bottom {
			bottom: 0;
			left: 0;
		}
		.lead {
			padding-top: 8px;
			font-size: rem(20);
			font-weight: 600;
			line-height: 1.5;
			text-align: center;
		}
		.btn-wrapper {
			margin-top: 72px;
			text-align: center;
		}
		@media (--tb) {
			.job-board {
				padding-block: 88px 122px;
				background-image: url('/assets/top/wave_job-board_top.png'), url('/assets/top/wave_job-board_bottom.png');
				background-blend-mode: luminosity;
				background-size: vwTb(572) auto, vwTb(508) auto;
			}
			.btn-wrapper {
				margin-top: 64px;
				text-align: center;
			}
		}
		@media (--sp) {
			.job-board {
				padding-block: 140px 200px;
				background-image: url('/assets/top/wave_job-board_top_sp.png'), url('/assets/top/wave_job-board_bottom_sp.png');
				background-blend-mode: luminosity;
				background-size: vw(375) auto, vw(328) auto;
			}
			.lead {
				text-align: left;
				font-size: rem(18);
				line-height: 1.8;
			}
			.btn-wrapper {
				margin-top: 56px;
				width: 100%;
			}
		}
	}
</style>