---
import { Image } from 'astro:assets';
import logo from '@assets/logo_knots.svg';
import Btn from '../ui/Btn.astro';
---

<div class="kv">
  <div class="inner">
    <hgroup class="hgroup">
      <h1 class="logo">
        <Image src={logo} alt="KNOTS" width="681" height="152" class="logo-img"/>
      </h1>
      <p class="catch">デザイン・AI・エンジニアリング、<br class="only-pc">先端ウェブ・プロダクトの潮流が "交わる" カンファレンス</p>
    </hgroup>
    <div class="info">
      <div class="meta">
        <span class="date font-en">
          <span class="date-body">2026.01.25</span>
          <span class="day-of-week"><span class="parentheses">(</span>SUN<span class="parentheses">)</span></span>
        </span>
        <span class="place">@東京都中央区日本橋 日本橋タワー<span class="pc-space"></span><br class="only-sp">サイボウズ本社スペース</span>
      </div>
      <div class="btn-wrapper">
        <Btn href="#looking-for-sponsors" txt="スポンサー募集要項" modifier="kv"/>
      </div>
    </div>
  </div>
</div>

<style>
  @layer components {
    .kv {
      color: var(--color_white);
      text-align: center;
    }
    .inner {
      container-type: inline-size;
    }
    .logo {
      width: 100%;
      max-width: 680px;
      overflow: hidden;
      margin: 0 auto 40px;
    }
    .logo-img {
      width: 100%;
      height: auto;
    }
    .catch {
      text-box: trim-both cap alphabetic;
      font-feature-settings: 'palt' on;
      font-size: rem(28);
      font-weight: 600;
      line-height: 1.45;
    }
    .info {
      padding-block: 146px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      @container (max-width: 900px) {
        flex-direction: column;
        justify-content: center;
      }
    }
    .meta {
      display: grid;
      text-box: trim-both cap alphabetic;
      justify-items: center;
      row-gap: 16px;
    }
    .date {
      display: flex;
      align-items: baseline;
    }
    .date-body {
      font-size: rem(80);
      font-weight: 500;
    }
    .day-of-week {
      margin-left: 0.3em;
      font-size: rem(28);
      font-weight: 500;
      letter-spacing: -0.008em;
      leading-trim: both;
      text-edge: cap;
      .parentheses {
        vertical-align: 0.08em;
      }
    }
    .place {
      font-feature-settings: 'halt' on, 'palt' on;
      font-size: rem(20);
      font-weight: 600;
      letter-spacing: -0.02em;
    }
    .btn-wrapper {
      padding-top: 14px;
    }
    @media (--sp) {
      .logo {
        width: vw(300);
        margin-inline: auto;
        margin-bottom: 20px;
      }
      .catch {
        width: vw(300);
        margin-inline: auto;
        font-size: rem(16);
      }
      .info {
        display: flex;
        flex-direction: column;
        padding-block: 50px 32px;
        border-bottom: 1px solid rgb(255 255 255 / 0.6);
      }
      .meta {
        row-gap: 10px;
      }
      .date {
        font-size: rem(16);
      }
      .date-body {
        font-size: rem(32);
      }
      .day-of-week {
        font-size: rem(16);
      }
      .place {
        font-size: rem(14);
        line-height: 1.3;
      }
      .btn-wrapper {
        width: stretch;
        padding-inline: 20px;
        margin-top: 40px;
      }
    }
  }
</style>