---
import Btn from '@/components/util/Btn.astro';
---

<div class="looking-for-wrapper selected-inversion">
  <div class="looking-for" id="looking-for-sponsors">
    <div class="inner">
      <div class="row">
        <h3 class="title">スポンサー企業募集</h3>
        <div class="reading-inner">
          <p>
            KNOTSはデザインだけのイベントではなく、『デザイン×AI×エンジニアリング』の交わりに焦点を当てる国内でも数少ないイベントです。「先進技術に対する深い理解と実践意欲」や「次世代のスキルやキャリアパス」に関心がある参加者層と、深い議論が期待でき、エンジニアとデザイナー双方に訴求するプログラム構成により、参加者・登壇者それぞれ、将来の採用へとつながるタッチポイントを創出します。スポンサー検討されている企業の方は、「申し込みボタン」からお問い合わせください。
          </p>
        </div>
        <div class="btn-wrapper">
          <Btn
            href="https://forms.gle/AfVbLJEp7Vwnn4X2A"
            txt="募集は終了しました"
            modifier="wide"
            disabled={true}
          />
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  @layer components {
    .looking-for-wrapper {
      background-color: var(--color_bg_white);
      padding: 40px;
    }
    .looking-for {
      padding-block: 80px 100px;
      color: var(--color_white);
      background-color: var(--color_primary);
      position: relative;
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        background-image: url('/assets/top/wave_looking-for-sponsor.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;
        mix-blend-mode: luminosity;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .row {
      position: relative;
      z-index: var(--z_over);
      display: grid;
      width: 100%;
      grid-template-areas:
        'title content'
        'title btn';
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
      justify-items: start;
      row-gap: 48px;
    }
    .title {
      grid-area: title;
      text-align: left;
      font-size: rem(32);
      font-weight: 600;
      line-height: 1.5;
    }
    .reading-inner {
      grid-area: content;
    }
    p {
      display: block;
      font-feature-settings: 'halt' on;
      font-size: rem(17);
      font-weight: 600;
      line-height: 2.0;
      letter-spacing: 0.02em;
    }
    .btn-wrapper {
      grid-area: btn;
      align-self: end;
      text-align: center;
    }
    @media (--under-pc) {
      .looking-for-wrapper {
        padding: 0;
      }
      .looking-for {
        padding-block: 80px;
        &:before {
          background-image: url('/assets/top/wave_looking-for-sponsor_tb.png');
          background-size: vwTb(362) auto;
          background-position: top right;
        }
      }
      .row {
        grid-template-areas:
          'title'
          'content'
          'btn';
        justify-items: start;
        grid-template-columns: 1fr;
        max-width: vwTb(528);
        margin-inline: auto;
      }
    }
    @media (--sp) {
      .looking-for {
        padding-block: 80px 80px;
        &:before {
          background-image: url('/assets/top/wave_looking-for-sponsor_sp.png');
          background-size: vw(270) auto;
          background-position: top right;
        }
      }
      .row {
        max-width: none;
      }
      .title {
        font-size: rem(24);
      }
      .reading-inner {
        max-width: none;
      }
      p {
        font-size: rem(16);
        line-height: 2.0;
      }
      .btn-wrapper {
        width: stretch;
      }
    }
  }
</style>
