---
import members_office from '@/data/members_office.json';
import members_production from '@/data/members_production.json';

import SectionTitle from '@/components/util/SectionTitle.astro';
import Member from './modules/Member.astro';


import member_1 from '@assets/top/members/1_kogiso.jpg';
import member_2 from '@assets/top/members/2_kocho.jpg';
import member_3 from '@assets/top/members/3_ryo-kagaya.jpg';
import member_4 from '@assets/top/members/4_mewmo.jpg';
import member_5 from '@assets/top/members/5_take.jpg';
import member_6 from '@assets/top/members/6_yamaguchi.jpg';
import member_7 from '@assets/top/members/7_mos.jpg';
import member_8 from '@assets/top/members/8_yamashita.jpg';
import member_9 from '@assets/top/members/9_nakamura.jpg';
import member_10 from '@assets/top/members/10_satoh.jpg';
import member_11 from '@assets/top/members/11_kobayashi.jpg';
import member_12 from '@assets/top/members/12_yamada.jpg';
import member_13 from '@assets/top/members/13_suzuki.jpg';
import member_14 from '@assets/top/members/14_tanaka.jpg';
import member_15 from '@assets/top/members/15_matsumoto.jpg';

// keyで画像を紐付け
const memberImages = {
  member_1,
  member_2,
  member_3,
  member_4,
  member_5,
  member_6,
  member_7,
  member_8,
  member_9,
  member_10,
  member_11,
  member_12,
  member_13,
  member_14,
  member_15,
};

---

<div class="members" id="members">
  <div class="inner">
    <SectionTitle
      en="Operation members"
      ja="運営メンバー"
      modifier="center"
    />
    <div class="members-category">
      <h3 class="label">事務局</h3>
      <div class="members-wrapper">
        <div class="members-container">
          {members_office.map((member) => (
            <div class="members-item">
              <Member img={memberImages[member.id]} name={member.name} href={member.href && member.href}/>
            </div>
          ))}
        </div>
      </div>
    </div>
    <div class="members-category">
      <h3 class="label">制作</h3>
      <div class="members-wrapper">
        <div class="members-container">
          {members_production.map((member) => (
            <div class="members-item">
              <Member img={memberImages[member.id]} name={member.name} href={member.href && member.href}/>
            </div>
          ))}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  @layer components {
    .members {
      padding-block: 44px 312px;
      background-color: var(--color_bg_white);
    }
    .members-category {
      + .members-category {
        margin-top: 48px;
      }
    }
    .label {
      text-align: center;
      color: var(--color_primary);
      font-size: rem(17);
      font-weight: 600;
      margin-bottom: 28px;
    }
    .members-wrapper {
      margin-inline: auto;
      display: flex;
      justify-content: center;
    }
    .members-container {
      --this_column_count: 4;
      width: min-content;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(var(--this_column_count), max(176px, pw(180)));
      border-top: 1px solid var(--color_grey);
    }
    .members-item {
      padding-block: 16px;
    }
    @media (--pc) {
      .members-item {
        &:nth-child(4n-3) {
          position: relative;
          &:after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: var(--color_grey);
            position: absolute;
            bottom: 0;
            left: 0;
            transform: scaleX(400%);
            transform-origin: left;
          }
        }
      }
    }
    @media (--tb) {
      .members {
        padding-block: 80px 120px;
      }
      .members-container {
        --this_column_count: 3;
      }
      .members-item {
        &:nth-child(3n-2) {
          position: relative;
          &:after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: var(--color_grey);
            position: absolute;
            bottom: 0;
            left: 0;
            transform: scaleX(300%);
            transform-origin: left;
          }
        }
      }
    }
    @media (--sp) {
      .members {
        padding-block: 80px 100px;
      }
      .members-category {
        + .members-category {
          margin-top: 36px;
        }
      }
      .members-container {
        width: 100%;
        max-width: 352px;
        grid-template-columns: repeat(var(--this_column_count), minmax(0, 176px));
      }
      .members-container {
        --this_column_count: 2;
        padding-top: 16px;
        gap: 16px;
      }
      .members-item {
        padding: 0;
      }
    }
  }
</style>
