---
import PictureComponent from '@/components/util/PictureComponent.astro';
import wave_pickup_pc from '@/assets/top/wave_pickup_pc.png';
import wave_pickup_tb from '@/assets/top/wave_pickup_tb.png';
import wave_pickup_sp from '@/assets/top/wave_pickup_sp.png';

import SectionTitle from '@/components/util/SectionTitle.astro';
import { PickupSessionList } from './PickupSessionList';

---

<div class="pickup bg-white" data-trigger="pickup">
	<div class="wave" data-trigger="pickup-wave">
		<PictureComponent
			mobileImgUrl={wave_pickup_sp}
			tabletImgUrl={wave_pickup_tb}
			desktopImgUrl={wave_pickup_pc}
			alt=""
		/>
	</div>
	<div class="inner">
		<SectionTitle
			en="Announcement"
			ja="登壇予告"
			id="pickup"
		/>
		<p class="lead">
			業界を牽引するエンジニア、デザイナー、プロダクトマネージャーら、多彩な登壇者による全27セッションを予定しています。
		</p>
		<PickupSessionList client:only="react" />
	</div>
</div>

<style>
	@layer components {
		.pickup {
			padding-block: 100px 120px;
			position: relative;
		}
		.inner {
			position: relative;
			z-index: var(--z_above);
		}
		.wave {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
			width: 100%;
			height: auto;
			min-height: 100vh;
			aspect-ratio: 1024 / 1046;
			mix-blend-mode: overlay;
			display: grid;
			place-items: center;
			opacity: 0;
			z-index: var(--z_over);
			pointer-events: none;
		}
		.lead {
			font-feature-settings: 'halt' on;
			color: var(--color_text_grey);
			font-size: rem(17);
			font-weight: 600;
			line-height: 150%;
			letter-spacing: 0.01em;
			margin-bottom: 64px;
		}
		.item {
			border-bottom: 1px solid var(--color_grey);
			&:first-child {
				border-top: 1px solid var(--color_grey);
			}
		}
		@media (--tb) {
			.wave {
				aspect-ratio: 1760 / 1891;
			}
		}
		@media (--sp) {
			.pickup {
				padding-block: 100px 80px;
			}
			.lead {
				font-size: rem(16);
			}
			.wave {
				aspect-ratio: 750 / 1548;
			}
		}
	}
</style>


<script>
  import { setupPickupAnimation } from '@/scripts/pickupAnimation.ts'; 
	setupPickupAnimation();
</script>