---
import { Image } from 'astro:assets';

interface Props {
  level: 'kyoku' | 'matsu' | 'ume' | 'other';
  href?: string | '#';
  img?: ImageData;
  alt?: string;
}
const { level, href = '#', img = null, alt = null } = Astro.props;

---

<div class={`sponsor-logo ${level}`}>
  <a href={href} target="_blank">
    {img && (
      <Image src={img} alt={alt} />
    )}
  </a>
</div>

<style>
  @layer components {
    .sponsor-logo {
      aspect-ratio: 2 / 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .kyoku {
      width: 520px;
    }
    .matsu {
      width: 480px;
    }
    .ume {
      width: 320px;
    }
    .other {
      width: 480px;
    }
  }
</style>