---
import timetable_cross from '@/data/timetable_cross.json'
import timetable_wave from '@/data/timetable_wave.json'
import SectionTitle from '@/components/util/SectionTitle.astro'
import TimeTableRow from '@/components/top/modules/TimeTableRow.astro'
---
<div class="timetable" data-trigger="timetable">
  <div class="wrapper">
    <div class="circle only-pc" data-trigger="timetable-circle-pc"></div>
    <div class="head">
      <div class="head-inner">
        <SectionTitle
          en="Time table"
          ja="タイムテーブル"
          modifier={["center", "white"]}
        />
        <p class="lead">
          スピーカーセッション、パネルセッション、エクスチェンジセッションがCross StageとWave Stageで行われます。<br>登壇者と参加者が垣根を超えて“交わる”スペシャルなセッションを紹介。
        </p>
      </div>
    </div>
    <div class="inner timetable__inner">
      <div class="body" data-trigger="timetable-body">
        <div class="circle only-sp" data-trigger="timetable-circle-sp"></div>
        <div class="col col--cross">
          <div class="row">
            <hgroup class="stage-label">
              <h3 class="stage-label-body">Cross Stage</h3>
              <p class="stage-label-sub">キーノート/トーク</p>
            </hgroup>
          </div>
          <TimeTableRow timetableData={timetable_cross} />
        </div>
        <div class="col col--wave">
          <div class="row">
            <hgroup class="stage-label">
              <h3 class="stage-label-body">Wave Stage</h3>
              <p class="stage-label-sub">トーク/ディスカッション</p>
            </hgroup>
          </div>
          <TimeTableRow timetableData={timetable_wave} />
        </div>
        <div class="col col--time">
          {Array.from({ length: 55 }, () => <div class="row"></div>)}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
	@layer components {
    .timetable {
      padding-top: 128px;
      background-color: var(--color_bg_white);
    }
    .wrapper {
      position: relative;
      z-index: var(--z_over);
    }
    .circle {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 540px;
      height: auto;
      aspect-ratio: 1;
      background-color: var(--color_primary);
      border-radius: 50%;
      z-index: var(--z_under);
    }
    .head {
      display: grid;
      place-items: center;
      align-content: center;
      width: 540px;
      aspect-ratio: 1;
      margin-inline: auto;
      margin-bottom: 400px;
      border-radius: 50%;
      padding: 90px;
    }
    .lead {
      color: #fff;
      font-size: rem(20);
      font-weight: 600;
      line-height: 1.2;
      letter-spacing: 0.01em;
    }
    .body {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 160px;
      padding-bottom: 320px;
    }
    .col {
      display: grid;
      grid-template-rows: subgrid;
      grid-row: 1/ span 54;
      row-gap: 16px;
    }
    .col--time {
      grid-column: 1 / span 2;
      width: min(calc(100vw - 152px), 100%);
      justify-self: end;
      .row {
        grid-row: span 6;
        border-top: 2px solid red;
        &:first-child {
          grid-row: span 1;
          border-top: none;
        }
        &:nth-child(2) {
          grid-row: span 1;
        }
      }
    }
    .col--cross {
      grid-column: 1;
    }
    .col--wave {
      grid-column: 2;
    }
    .row {
      display: flex;
      flex-direction: column;
    }
    .stage-label {
      text-align: center;
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      padding-bottom: 32px;
    }
    .stage-label-body {
      color: var(--color_primary);
      font-size: rem(32);
      line-height: 1.5;
      font-weight: 600;
    }
    .stage-label-sub {
      font-size: rem(12);
      font-weight: 300;
      line-height: 1.2;
      color: var(--color_text_grey);
    }
    .time-label {
      display: flex;
      align-items: center;
      position: relative;
      height: 100%;
      span {
        position: absolute;
        top: var(--this_time_position, 0);
        right: calc(100% + 16px);
        transform: translate3d(0 , -50%, 0);
        color: var(--color_primary);
        font-weight: 500;
        font-size: rem(20);
      }
      &:after {
        content: '';
        flex: 1 1 100%;
        height: 100%;
        background-image: linear-gradient(to right, color-mix(in srgb, var(--color_primary) 80%, transparent 80%) 50%, transparent 50%);
        background-size: 16px 1px;
        background-repeat: repeat-x;
        background-position: 0 var(--this_time_position, 0);
      }
    }
    @media (--tb) {
      .body {
        column-gap: vwTb(88);
      }
      .circle {
        display: none;
      }
      .head {
        width: 100%;
        aspect-ratio: auto;
        margin-bottom: 0;
        position: relative;
        padding-bottom: 80px;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100%;
          background-color: var(--color_primary);
          z-index: var(--z_under);
          clip-path: circle(vwTb(720) at center vwTb(720));
        }
      }
      .head-inner {
        width: vwTb(530);
      }
      .lead {
        line-height: 1.5;
      }
      .body {
        padding-top: 96px;
        padding-bottom: 0;
      }
    }
		@media (--sp) {
      .body {
        overflow: hidden;
        column-gap: vw(64);
        position: relative;
        padding-bottom: 0;
      }
      .circle {
        width: vw(96);
        margin: auto;
      }
      .head {
        width: 100%;
        aspect-ratio: auto;
        margin-bottom: 0;
        position: relative;
        padding: 80px 0;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100%;
          background-color: var(--color_primary);
          z-index: var(--z_under);
          clip-path: circle(vw(355) at center vw(355));
        }
      }
      .head-inner {
        width: auto;
        padding-inline: 32px;
      }
      .lead {
        font-size: rem(18);
        line-height: 1.8;
      }
		}
	}
</style>

<script>
  // パスをエイリアスに変更して型解決エラーを回避
  import { initTimeTableAnimation } from '@/scripts/timeTableAnimation.ts'
  initTimeTableAnimation();
</script>