---
import timetable_cross from '@/data/timetable_cross.json'
import timetable_wave from '@/data/timetable_wave.json'
import SectionTitle from '@/components/util/SectionTitle.astro'
import TimeTableRow from '@/components/top/modules/TimeTableRow.astro'
---
<div class="timetable" data-trigger="timetable">
  <div class="wrapper">
    <div class="circle-pc only-pc" data-trigger="timetable-circle-pc"></div>
    <div class="head">
      <div class="head-inner">
        <SectionTitle
          en="Time table"
          ja="タイムテーブル"
          modifier={["center", "white"]}
        />
        <p class="lead">
          スピーカーセッション、パネルセッション、エクスチェンジセッションがCross StageとWave Stageで行われます。<br>登壇者と参加者が垣根を超えて“交わる”スペシャルなセッションを紹介。
        </p>
      </div>
    </div>
    <div class="inner timetable-content">
      <div class="stage-label-row">
        <input type="checkbox" id="stage-switch" class="only-sp" data-switch />
        <div class="stage-label-col">
          <div class="stage-label-switch" data-switch-trigger="cross">
            <div class="stage-label">
              <h3 class="stage-label-body font-en" id="cross-stage-label">Cross Stage</h3>
              <p class="stage-label-sub">キーノート/トーク</p>
            </div>
          </div>
        </div>
        <div class="stage-label-col">
          <div class="stage-label-switch" data-switch-trigger="wave">
            <div class="stage-label">
              <h3 class="stage-label-body font-en" id="wave-stage-label">Wave Stage</h3>
              <p class="stage-label-sub">トーク/ディスカッション</p>
            </div>
          </div>
        </div>
      </div>
      <div class="body-wrap" data-trigger="timetable-wrap">
        <div class="circle-sp only-sp" data-trigger="timetable-circle-sp">
          <div class="circle-sp-body"></div>
        </div>
        <div class="body" data-trigger="timetable-body">
          <div class="col col--cross" aria-labelledby="cross-stage-label">
            <TimeTableRow timetableData={timetable_cross} stageName="cross" />
          </div>
          <div class="col col--wave" aria-labelledby="wave-stage-label">
            <TimeTableRow timetableData={timetable_wave} stageName="wave" />
          </div>
          <div class="col col--time">
            {Array.from({ length: 10 }, (_, index) =>
              <div class="row">
                <span class="time-label font-en">{index > 0 && index + 10 + ':00'}</span>
              </div>
            )}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
	@layer components {
    .timetable {
      padding-top: 128px;
      background-color: var(--color_bg_white);
    }
    .wrapper {
      position: relative;
      z-index: var(--z_over);
    }
    .circle-pc {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 540px;
      height: auto;
      aspect-ratio: 1;
      background-color: var(--color_primary);
      border-radius: 50%;
      z-index: var(--z_under);
    }
    .head {
      display: grid;
      place-items: center;
      align-content: center;
      width: 540px;
      aspect-ratio: 1;
      margin-inline: auto;
      margin-bottom: 400px;
      border-radius: 50%;
      padding: 90px;
    }
    .lead {
      color: #fff;
      font-size: rem(20);
      font-weight: 600;
      line-height: 1.2;
      letter-spacing: 0.1em;
    }
    .body {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 160px;
      padding-bottom: 320px;
      row-gap: 16px;
    }
    .col {
      display: grid;
      grid-template-rows: subgrid;
      grid-row: 1 / span 54;
      row-gap: 16px;
      min-width: 0;
    }
    .col--time {
      grid-column: 1 / span 2;
      width: 100%;
      justify-self: end;
      pointer-events: none;
      .row {
        grid-row: span 6;
        position: relative;
        &:first-child {
          grid-row: span 3;
          border-top: none;
        }
      }
    }
    .col--cross {
      grid-column: 1;
    }
    .col--wave {
      grid-column: 2;
    }
    .row {
      display: flex;
      flex-direction: column;
    }
    .stage-label-row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 160px;
      margin-bottom: 58px;
    }
    .stage-label {
      text-align: center;
      display: flex;
      flex-direction: column;
      row-gap: 4px;
    }
    .stage-label-body {
      color: var(--color_primary);
      font-size: rem(32);
      line-height: 1.5;
      font-weight: 500;
    }
    .stage-label-sub {
      font-size: rem(12);
      font-weight: 300;
      line-height: 1.2;
      color: var(--color_text_grey);
    }
    .time-label {
      position: absolute;
      top: 0;
      right: 100%;
      translate: 0 calc(-50% - 8px);
      color: var(--color_primary);
      font-weight: 500;
      font-size: rem(20);
      margin-right: 0.5em;
      white-space: nowrap;
    }
    @media (--tb) {
      .body {
        column-gap: vwTb(88);
        width: calc(100% - 40px);
        margin-inline: auto;
      }
      .stage-label-row {
        column-gap: vwTb(88);
        width: calc(100% - 40px);
        margin-inline: auto;
        margin-bottom: 40px;
      }
      .head {
        width: 100%;
        aspect-ratio: auto;
        position: relative;
        padding-bottom: 80px;
        margin-bottom: 96px;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100%;
          background-color: var(--color_primary);
          z-index: var(--z_under);
          clip-path: circle(vwTb(720) at center vwTb(720));
        }
      }
      .head-inner {
        width: vwTb(530);
      }
      .lead {
        line-height: 1.5;
      }
      .body {
        padding-bottom: 0;
      }
    }
		@media (--sp) {
      .timetable-content {
        &:has(:checked) {
          --this_switch_translate: calc( -100% + vw(-64));
          .stage-label-switch {
            &[data-switch-trigger="cross"] {
              pointer-events: auto;
              --this_font_color: var(--color_white);
            }
            &[data-switch-trigger="wave"] {
              pointer-events: none;
              --this_font_color: var(--color_primary);
            }
          }
          .circle-sp {
            --this_circle_translate: calc(vw(48) * -1);
          }
        }
        input[data-switch] {
          position: absolute;
          width: 0;
          height: 0;
          overflow: hidden;
          clip: rect(0 0 0 0);
          white-space: nowrap;
        }
        .stage-label-switch {
          &[data-switch-trigger="cross"] {
            pointer-events: none;
            --this_font_color: var(--color_primary);
          }
          &[data-switch-trigger="wave"] {
            pointer-events: auto;
            --this_font_color: var(--color_white)
          }
        }
      }
      .stage-label-row {
        column-gap: 0;
        background-color: var(--color_primary);
        border: 3px solid var(--color_primary);
        border-radius: 8px;
        position: sticky;
        top: 80px;
        z-index: var(--z_above);
        margin-inline: calc(var(--inner_padding_sp) * 2 / 3 * -1);
        margin-bottom: 0;
        [data-switch] {
          padding: 0;
          position: absolute;
        }
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 100%;
          background-color: var(--color_white);
          border-radius: 6px;
          transition: translate 0.4s ease;
        }
        &:has(:checked) {
          &:before {
            translate: 100% 0;
          }
        }
      }
      .stage-label-col {
        position: relative;
      }
      [for="stage-switch"] {
        &:has(.is-current) {
          pointer-events: none;
        }
      }
      .stage-label {
        border-radius: 6px;
        padding-block: 18px;
        position: relative;
        z-index: var(--z_over);
        &.is-current {
          --this_font_color: var(--color_primary);
        }
      }
      .stage-label-body {
        font-size: rem(16);
        color: var(--this_font_color, var(--color_white));
        text-box: var(--text_box_trim);
        transition: color 0.4s ease;
        will-change: opacity;
      }
      .stage-label-sub {
        display: none;
      }
      .body-wrap {
        position: relative;
        z-index: var(--z_over);
        :global(.pin-spacer) {
          z-index: var(--z_over) !important;
          mix-blend-mode: difference;
        }
      }
      .body {
        margin-top: 48px;
        grid-template-columns: repeat(2, 100%);
        column-gap: vw(64);
        padding-bottom: 0;
        position: relative;
        translate: var(--this_switch_translate, 0) 0;
        transition: translate 0.6s cubic-bezier(0.45, 0, 0.55, 1);
      }
      .circle-sp {
        position: absolute;
        margin-inline: calc(var(--inner_padding_sp) * -1);
        top: vw(100);
        left: 0;
        right: 0;
      }
      .circle-sp-body {
        position: static;
        width: vw(96);
        aspect-ratio: 1;
        background-color: var(--color_primary);
        border-radius: 50%;
        mix-blend-mode: difference;
        translate: var(--this_circle_translate, calc(100vw - vw(48))) 0;
        transition: translate 0.8s 0.1s cubic-bezier(0.65, 0, 0.35, 1);
        will-change: opacity;
      }
      .head {
        width: 100%;
        aspect-ratio: auto;
        position: relative;
        padding: 80px 0 64px;
        margin-bottom: 56px;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100%;
          background-color: var(--color_primary);
          z-index: var(--z_under);
          clip-path: circle(vw(355) at center vw(355));
        }
      }
      .head-inner {
        width: auto;
        padding-inline: 32px;
      }
      .lead {
        font-size: rem(18);
        line-height: 1.8;
      }
      .time-label {
        display: none;
      }
		}
	}
</style>

<script>
  // パスをエイリアスに変更して型解決エラーを回避
  import { initTimeTableAnimation, timeTableSwitch } from '@/scripts/timeTable.ts'
  initTimeTableAnimation();
  timeTableSwitch();
</script>