<div class="wrapper" data-trigger="fix-btn">
  <slot />
</div>

<style>
  @layer components {
    .wrapper {
      background-image: url('/assets/wave_head.png'), url('/assets/wave_footer.png');
      background-color: var(--color_primary);
      background-size: auto pw(191), auto pw(313);
      background-repeat: repeat-x, repeat-x;
      background-position: top center, bottom -4px center;
      background-blend-mode: luminosity;
      padding-block: 264px max(200px, pw(308));
      position: relative;
    }
    @media (--sp) {
      .wrapper {
        background-image: url('/assets/wave_head_sp.png'), url('/assets/wave_footer_sp.png');
        background-color: var(--color_primary);
        background-position: top center, bottom center;
        background-size: auto vw(153), 100% auto;
        background-blend-mode: luminosity;
        padding-block: vw(195) vw(186);
      }
    }
  }
</style>