---
import Operator from './modules/Operator.astro';
import DistortionWave from '@/components/top/modules/distortionWave.astro';
---

<footer class="footer selected-inversion">
	<div class="inner">
		<div class="row">
			<div class="operator">
				<Operator />
			</div>
			<div class="nav">
				<ul class="nav-list">
					<li class="nav-item">
						<a href="https://lumilinks.jp/" target="_blank" class="link-bg-color">運営会社</a>
					</li>
					<li class="nav-item">
						<a href="https://forms.gle/CRVsrNFNX6XHFCDP6" target="_blank" class="link-bg-color">お問い合わせ</a>
					</li>
					<li class="nav-item">
						<a href="/codeofconduct" class="link-bg-color">行動規範</a>
					</li>
					<li class="nav-item">
						<a href="/privacy-policy" class="link-bg-color">プライバシーポリシー</a>
					</li>
				</ul>
			</div>
			<div class="copyright font-en">
				<small>© CrossRel, Inc. All Rights Reserved.</small>
			</div>
		</div>
	</div>
  <div class="distortion-wave distortion-wave--footer only-pc">
    <div class="wave-canvas-wrapper">
      <DistortionWave
        imageSrc='/assets/top/wave_kv_footer.png'
        maskRadius={1000}
      />
    </div>
  </div>
</footer>

<style>
	@layer components {
		.footer {
			--footer_color_bg: #000;
			background-color: var(--color_primary);
			padding-block: 80px calc(pw(318) + 32px);
			color: var(--color_white);
      background-size: 100% auto;
      background-repeat: repeat-x;
      background-position: bottom -4px center;
      background-blend-mode: luminosity;
			position: relative;
			z-index: var(--z_footer);
		}
		.row {
			display: grid;
			grid-template-areas: 
				"nav operator"
				"copyright operator";
			grid-template-columns: auto 1fr;
			column-gap: 40px;
			row-gap: 64px;
		}
		.operator {
			grid-area: operator;
			justify-self: end;
			align-self: center;
			width: min(720px, calc(540 / 1440 * 100vw));
		}
		.nav {
			grid-area: nav;
		}
		.nav-list {
			display: flex;
			flex-direction: column;
			row-gap: 24px;
		}
		.nav-item {
			font-family: var(--font_ja_light);
			font-size: rem(14);
			line-height: 1.5;
			letter-spacing: 0.02em;
			a {
				padding-block: 4px;
			}
		}
		.copyright {
			grid-area: copyright;
			small {
				display: block;
				font-size: rem(12);
				font-weight: 400;
				text-box: trim-both cap alphabetic;
			}
		}
    .distortion-wave {
      position: absolute;
      width: 200%;
			bottom: 0;
      margin-inline: -50%;
      height: auto;
      mix-blend-mode: luminosity;
      z-index: var(--z_over);
      pointer-events: none;
      .wave-canvas-wrapper {
        pointer-events: auto;
        width: 100%;
				aspect-ratio: 1440 / 328;
        height: auto;
        scale: 0.5;
				transform-origin: bottom center;
        :global(canvas) {
          width: 100%;
          height: 100%;
          transform-origin: center center;
        }
      }
    }
		@media (--under-pc) {
			.row {
				grid-template-areas:
					"operator"
					"nav"
					"copyright";
				grid-template-columns: auto;
				row-gap: 72px;
			}
			.operator {
				width: 100%;
			}
			.nav-list {
				flex-direction: row;
				flex-wrap: wrap;
				gap: 24px 32px;
			}
		}
		@media (--tb) {
			.footer {
				padding-block: 80px vwTb(240);
				background-image: url('/assets/common/wave_footer_tb.png');
			}
		}
		@media (--sp) {
			.footer {
				padding-block: 80px vw(168);
				background-image: url('/assets/common/wave_footer_sp.png');
			}
			.nav-item {
				font-size: rem(14);
				letter-spacing: 0;
			}
		}
	}

</style>