<footer class="footer">
	<div class="inner">
		<div class="row">
			<div class="copyright font-en">
				<small>© CrossRel, Inc.　designed by Reazon Holdings, Inc.</small>
			</div>
		</div>
	</div>
</footer>

<style>
	@layer components {
		.footer {
			padding-bottom: 20px;
		}
		.copyright {
			small {
				display: block;
				font-size: rem(12);
				font-weight: 400;
				text-box: trim-both cap alphabetic;
				text-align: center;
			}
		}
	}
</style>