---
const { modifier=null } = Astro.props

const ExLink = ({ href }: { href: string }) => {
  const isExternal = href.startsWith('http://') || href.startsWith('https://') || /\.[a-zA-Z0-9]{2,}$/.test(href);
  return isExternal ? '_blank' : undefined;
};
---

<a href='/' class={`btn${modifier ? ` btn--${modifier}` : ''}`}>
  トップに戻る
</a>

<style>
  @layer components {
    .btn {
      --this_bg: var(--color_primary);
      --this_color: var(--color_white);
      --this_hover_transition: var(--transition_hover);
      background-color: var(--this_bg);
      color: var(--this_color);
      min-width: var(--this_base_width, 360px);
      min-height: var(--this_base_height, 62px);
      padding: 6px 24px;
      border: 1px solid var(--color_primary);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 9999px;
      font-size: var(--this_font_size, rem(18));
      font-weight: 700;
      font-feature-settings: 'palt' on;
      letter-spacing: 0.02em;
      transition: background-color var(--this_hover_transition, 0.3s ease), color var(--this_hover_transition, 0.3s ease), border-color var(--this_hover_transition, 0.3s ease);
    }
    @media (--hover) {
      .btn {
        &:hover {
          --this_bg: var(--color_bg_white);
          --this_color: var(--color_primary);
        }
      }
    }
    @media (--sp) {
      .btn {
        min-width: auto;
        width: stretch;
        min-height: 58px;
        font-size: rem(16);
      }
    }
  }
</style>
