<div class="smooth-wrapper" id="smooth-wrapper">
  <div id="smooth-content">
    <slot />
  </div>
</div>

<script>
  import("@/scripts/scrollPerformer.js").then(({ initScrollSmoother, initSmoothAnchorLinks }) => {
    initScrollSmoother();
    initSmoothAnchorLinks();
  });
</script>