---
interface Props {
  en?: string;
  ja?: string;
  modifier?: string[];
  heading_lv?: 'h1' | 'h2' | 'h3' | 'h4' | 'h5' | 'h6';
  id?: string;
}

const { en='', ja='', modifier=[], heading_lv='h2', id=null } = Astro.props
const HeadingTag = heading_lv;
---

<hgroup
  class={`section-title${
    Array.isArray(modifier)
      ? modifier.map(m => ` section-title--${m}`).join('')
      : modifier ? ` section-title--${modifier}` : ''
  }`}
  id={id && id}
>
  <p class="en font-en">{en}</p>
  <HeadingTag class="ja">{ja}</HeadingTag>
</hgroup>

<style>
  @layer components {
    .section-title {
      text-align: left;
      display: grid;
      row-gap: 16px;
      margin-bottom: 64px;
      .en {
        display: block;
        text-transform: uppercase;
        color: var(--color_dark_grey);
        font-size: var(--this_font_size_en, rem(16));
        letter-spacing: 0.02em;
        font-weight: 300;
      }
      .ja {
        font-size: var(--this_font_size_ja, rem(40));
        font-weight: 600;
        letter-spacing: 0.04em;
        color: var(--color_primary);
      }
    }
    .section-title--center {
      text-align: center;
    }
    .section-title--no-margin {
      margin-bottom: 0;
    }
    .section-title--white {
      .en {
        color: var(--color_bg_white);
      }
      .ja {
        color: var(--color_white);
      }
    }
    @media (--sp) {
      .section-title {
        row-gap: 12px;
        margin-bottom: 48px;
        --this_font_size_en: rem(14);
        --this_font_size_ja: rem(24);
      }
    }
  }
</style>