---
import '../styles/global.css'
import '../styles/media.css'
import '../styles/reset.css'

const canonicalURL = new URL(Astro.url.pathname, 'https://knots.crossrel.jp/')
const ogpImageURL = new URL('/ogp.png', canonicalURL)
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!--Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>
      KNOTS┃デザイン・AI・エンジニアリング―境界を結び、共創をひらくカンファレンス
    </title>
    <meta
      name="description"
      content="KNOTSはデザイン・AI・エンジニアリングをテーマとし、境界を結び、共創をひらくカンファレンスです。2026年1月、日本橋にて開催予定。新たな視点と対話の場をつくります。"
    />

    <!-- Open Graph Protocol -->
    <meta
      property="og:title"
      content="KNOTS┃デザイン・AI・エンジニアリング―境界を結び、共創をひらくカンファレンス"
    />
    <meta
      property="og:description"
      content="KNOTSはデザイン・AI・エンジニアリングをテーマとし、境界を結び、共創をひらくカンファレンスです。2026年1月、日本橋にて開催予定。新たな視点と対話の場をつくります。"
    />
    <meta property="og:image" content={ogpImageURL} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="theme-color" content="#1532f9" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="KNOTS┃デザイン・AI・エンジニアリング―境界を結び、共創をひらくカンファレンス"
    />
    <meta
      name="twitter:description"
      content="KNOTSはデザイン・AI・エンジニアリングをテーマとし、境界を結び、共創をひらくカンファレンスです。2026年1月、日本橋にて開催予定。新たな視点と対話の場をつくります。"
    />
    <meta name="twitter:image" content={ogpImageURL} />

    <!-- Font -->
    <link rel="stylesheet" href="https://use.typekit.net/ixx0wgf.css" />
    <link
      rel="stylesheet"
      href="https://morisawafonts.net/c/01K5X3Y8N3AVASGV3JMEPG3NEM/mf.css"
    />
    <script
      is:inline
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-0L3D47G404"></script>
    <script is:inline type="text/partytown">
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'G-0L3D47G404')
    </script>
  </head>
  <body>
    <div class="root">
      <slot />
    </div>
  </body>
</html>

<style>
  @layer base {
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
    .root {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      > :global(.footer) {
        margin-top: auto;
      }
    }
  }
</style>
